/* index.css */

@import "@ionic/react/css/core.css";
@import "@ionic/react/css/normalize.css";
@import "@ionic/react/css/structure.css";
@import "@ionic/react/css/typography.css";

/* Opcionales: temas y utilidades */
@import "@ionic/react/css/padding.css";
@import "@ionic/react/css/float-elements.css";
@import "@ionic/react/css/text-alignment.css";
@import "@ionic/react/css/text-transformation.css";
@import "@ionic/react/css/flex-utils.css";
@import "@ionic/react/css/display.css";

/* Estilos globales */
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #000000;
  font-family: system-ui, sans-serif;
}

ion-content {
  --background: #ffffff;
}


html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--ion-background-color, #fff);
  color: var(--ion-text-color, #000);
}

* {
  box-sizing: border-box;
}